.page-footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: #525459 !important;
}
.container.foot {
  margin: auto;
  bottom: 50%;
}
.icon-foot {
  padding: 0 10px 0 3px;  
}

.foot-div {
 font-size: 20px;
 text-align: right;
}

#test1 {
padding: 70px 0px 0px 0px;
}
#menu-icon{
  color: white;
}

html {
  font-size: 14px;
}

nav.nav-extended {
  max-height: 45px;
}
#logoda{
  height: 35px;
}
nav .sidenav-trigger i {
  line-height: 40px;
}
.red.lighten-2 {
  background-color: #EE6E73 !important;
}
.tabs .tab .men1{max-width: 20%;}
.tabs .tab .men2{max-width: 30%;}
.tabs .tab .men3{max-width: 10%;}
.tabs .tab .men4{max-width: 20%;}
.tabs .tab .men5{max-width: 20%;}
.tabs .tab a {
  padding: 0 12px;
  font-size: 12px;
}
ul.tabs.tabs-transparent a:hover {
  background-color: transparent;
  color: #006e73;
}






/*********************
  Media Query Classes
**********************/

/* MediaQueries para smartphone portrait */
@media only screen and (max-width: 575px) {
  .hide-on-med-and-down, .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
  .show-on-small-and-up, .show-on-small-only {
    display: block !important;
  }
  .center-on-small-only {
    text-align: center;
  }
  div#row-nav.row {
    height: 40px;
  }
  nav .sidenav-trigger {
    left: 60%;
    height: 45px;
  }
  nav .sidenav-trigger i {
    height: 45px !important;
  }
  #logodap{
    height: 35px;
  }
  nav .brand-logo {
    height: 45px;
  }
  div#col-logo {
    height: 45px;
  }
  .row .col.border {
    border-top: #808287;
    border-top-width: 0.5px;
    border-top-style: inset;  
  }
}/* MediaQueries para smartphone portrait */

/* MediaQueries para smartphone Landscape y tablets portrait */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .hide-on-med-and-down, .hide-on-med-only, .hide-on-med-and-up {
    display: none !important;
  }
  .show-on-small-and-up, .show-on-med-and-up, .show-on-med-only {
    display: block !important;
  }
  div#row-nav.row {
    height: 60px;
  }
  nav .sidenav-trigger {
    left: 60%;
    height: 60px;
  }
  nav .sidenav-trigger i {
    height: 60px !important;
    margin-top: 8px;
  }
  #logoda{
    height: 50px;
    margin-top: 5px;
  }
  nav .brand-logo {
    height: 60px;
  }
  div#col-logo {
    height: 60px;
  }
  nav.nav-extended {
    max-height: 60px;
  }
  nav i.material-icons {
    font-size: 36px !important;
  }
  .row .col.border {
    border-left: #808287;
    border-left-width: 0.5px;
    border-left-style: inset;  
  }
  
}/* MediaQueries para smartphone Landscape y tablets portrait */

/* MediaQueries para tablets Landscape */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .hide-on-med-and-up, .hide-on-large-only, .hide-on-large-and-up  {
    display: none !important;
  }
  .show-on-med-and-up, .show-on-large-only, .show-on-large-and-up {
    display: block !important;
  }
  nav.nav-extended {
    height: 90px !important;
    max-height: 90px !important;
  }
  nav.nav-extended .nav-wrapper {
    max-height: 90px;
    height: auto;
  }
  nav .brand-logo {
    max-height: 50px;
    margin-top: 7px;
  }
  #logoda{
    height: 60px;
  }
  a.blue-grey-text {
    color: white;
  }
  nav.nav-extended .nav-content {
    max-height: 90px !important;
    height: 90px;
    left: 15%;
  }
  ul.tabs.tabs-transparent{
    padding-left: 0;
    top: 40px;
    max-width: 601px;
    flex-wrap: wrap;
  }
  div.nav-content{
    max-width: 601px;
    max-height: 90px;
  }
  .tabs {
    width: 601px !important;
    height: 20px;
  }
  .tabs .tab a{
    padding: 0 0 !important;
    font-size: small;
  }
  .row .col.border {
    border-left: #808287;
    border-left-width: 0.5px;
    border-left-style: inset;  
  }
}/* MediaQueries para tablets Landscape */

/* MediaQueries para desktop */
@media only screen and (min-width: 992px) {
  .hide-on-med-and-up, .hide-on-large-and-up, .hide-on-extra-large-only {
    display: none !important;
  }
  .show-on-med-and-up, .show-on-large-and-up, .show-on-extra-large-only {
    display: block !important;
  }
  nav.nav-extended {
    height: 90px !important;
    max-height: 90px !important;
  }
  nav.nav-extended .nav-wrapper {
    max-height: 90px;
    height: auto;
  }
  nav .brand-logo {
    max-height: 50px;
    margin-top: 7px;
  }
  #logoda{
    height: 70px;
  }
  a.blue-grey-text {
    color: white;
  }
  nav.nav-extended .nav-content {
    max-height: 90px !important;
    height: 90px;
    left: 15%;
  }
  ul.tabs.tabs-transparent{
    padding-left: 0;
    top: 15px;
    max-width: 800px;
    flex-wrap: wrap;
  }
  div.nav-content{
    max-width: 800px;
    max-height: 90px;
  }
  .tabs {
    width: 800px !important;
    height: 40px;
  }
  .tabs .tab a{
    padding: 0 20px 0 0 !important;
    font-size: medium;
  }
  .tabs .tab .men1{max-width: 20%;}
  .tabs .tab .men2{max-width: 30%;}
  .tabs .tab .men3{max-width: 10%;}
  .tabs .tab .men4{max-width: 20%;}
  .tabs .tab .men5{max-width: 20%;}
  
  .row .col.border {
    border-left: #808287;
    border-left-width: 0.5px;
    border-left-style: inset;  
  }




}/* MediaQueries para desktop */
