<div class="row" id="row-nav">
    <nav class="nav-extended red lighten-2">
      <div class="nav-wrapper">
        <div id="col-logo" class="col s9 m6 l3">
            <a href="index.html" class="brand-logo">
              <object id="logoda" class="responsive-img hide-on-small-only" type="image/svg+xml" data="img/logo_da_blanco.svg"></object>
              <object id="logodap" class="responsive-img hide-on-med-and-up" type="image/svg+xml" data="img/logo_da_p_blanco.svg"></object>
            </a>
        </div>
        <div id="col-logo" class="col s3 m6 l9">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-and-up"><i class="material-icons" id="menu-icon">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="empleados" class="text-white">Empleados</a></li>
              <li><a href="contacto" class="text-white">Contactos</a></li>
              <li><a href="blog" class="text-white">Blog</a></li>
            </ul>

        </div>
      </div>

      <div class="nav-content">
        <ul class="tabs tabs-transparent hide-on-med-and-down">
          <li class="tab men1"><a href="about" class="text-white">Quienes somos</a></li>
          <li class="tab men2"><a href="productos" class="text-white">Productos y servicios</a></li>
          <li class="tab men3"><a href="apps" class="text-white">Aplicaciones</a></li>
          <li class="tab men4"><a href="catalogo" class="text-white">Catalogo</a></li>
          <li class="tab men5"><a href="menu5" class="text-white">Menu No. 5</a></li>

        </ul>
      </div>
    </nav>
  </div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>